<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hp.choosephoto"
    >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".AlbumActivity"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".GalleryActivity"
            android:theme="@style/AppTheme"/>

    </application>

</manifest>
